@import "../utils.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backcolor;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;

    &___logo-container {
        & img {
            background-color: $backbottoncolor;
            border-radius: 12px;
            width: 100px;
            height: auto;
        }
    }

    &___navigation {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &___nav-container {
            width: 50%;

            .nav-content {
                display: flex;
                justify-content: space-between;

                li {
                    height: 30px;
                    width: 130px;
                    border-radius: 10px;
                    background-color: $backbottoncolor;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin: 5px;

                    a {
                        text-align: center;
                        color: $textcolor;
                    }
                }
            }
        }
        &___logout {
            height: 30px;
            width: 130px;
            border-radius: 10px;
            background-color: $backbottoncolor;
            color: $textcolor;
        }
    }
}
