.input {

    height: 30px;
    width: auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;


    &:focus {
        
        outline: none;
        background-color: #80a5a5;
        color: white;
    }
}