.comment {

    width: 95%;
    min-height: 100px;
    margin-top: 5px;
    
    &___author {

        
        height: 30%;
        background-color: rgba(146, 146, 135, 0.7);
        padding: 5px;
        border-radius: 0 100%  0 0;
        width: 30%;
    
        

   
    }

    &___text {

        height: 70%;
        background-color: whitesmoke;
        height: fit-content;
        padding: 10px;
        border-radius: 0 15px 15px 15px ;
    }


}