@import "../utils.scss";

.content {
    height: 90vh;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    background-color: $backcolorcontent;
    display: flex;
    justify-content: flex-end;
}

.content-container {
    display: flex;
    width: 98%;
    height: 650px;
    justify-content: center;

    .functional-bar {
        width: 20%;
        background-color: $backbottoncolor;
    }
    .trakcs-container {
        width: 80%;
        background-color: $trackcontainercolor;
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;


        .functional-bar {

            display: flex;
        }

        .trakcs-list {
            height: 95%;
            background-color: $listcolor;
            width: 95%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;

            .track-item {
                width: 95%;
                background-color: $backbottoncolor;
                margin: 5px;
                min-height: 70px;
            }
        }
        .serch-bar {
            width: 95%;
            height: 5%;
            display: flex;
            margin-bottom: 10px;

            input {
                height: 90%;
                width: 80%;
            }
            button {
                height: 90%;
                width: 20%;
                background-color: black;
                color: white;
                border: none;
            }
        }
    }
}
