$backcolor: #2b2c2c;
$backbottoncolorNav: #C4C4C4;
$backbottoncolorFunc: #C4C4C4;
$textcolor: #6A0260;
$backcolorcontent: #8d8d8d;
$trackcontainercolor: #4b059260;
$listcolor: #010020;
$item:  #478bb3;
$playbarback: #000000;
$linearColorBack:  linear-gradient(225deg, rgba(2, 0, 36, 1) 1%, rgba(9, 109, 121, 1) 49%, rgba(0, 212, 255, 1) 88%);
$ColorBackFoLinear:  rgb(2, 0, 36);
