@import "../../utils.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $playbarback;
    opacity: 0.7;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid black;

    &___logo-container {
        & img {
            background-color: whitesmoke;

            border-radius: 10px;
            width: 100px;
            height: auto;
            cursor: pointer;
        }
    }

    &___navigation {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &___nav-container {
            width: 50%;

            .nav-content {
                display: flex;
                justify-content: space-between;

                li {
                    height: 30px;
                    width: 130px;
                    border-radius: 5px;
                    background-color: black;
                    border: 1px solid whitesmoke;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin: 5px;

                    &:hover {
                        background-color: whitesmoke;
                        
                    }

                    a {
                        text-align: center;
                        color: whitesmoke;


                        &:hover {
                            
                           color: black;;
                        }
                    }
                }
            }
           
        }


        &___logout {
            height: 30px;
            width: 130px;
            border: none;
            border-radius: 5px;
            background-color: black;
            color: whitesmoke;
            cursor: pointer;
            border: 1px solid whitesmoke;

            &_nav {
                color: whitesmoke;
              
               
            }

            &:hover {
                background-color: whitesmoke;
                color: black;

                & * {
                    color: black;
                }
            }
        }
    }
}
