$backcolor: #2b2c2c;
$backbottoncolorNav: #C4C4C4;
$backbottoncolorFunc: #C4C4C4;
$textcolor: #6A0260;
$backcolorcontent: #8d8d8d;
$trackcontainercolor: #4b059260;
$listcolor: #010020;
$item:  #478bb3;
$playbarback: #000000;