.item {
  height: 70px;
  width: auto;
  border: 1px solid black;
  background-color: rgba(20, 17, 17, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin-top: 1px;
  border-radius: 3px;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(245, 245, 245, 0.3);
}

.item___img {
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border: 1px solid black;
  margin-left: 5px;
}

.item___img img {
  height: 50px;
  width: 50px;
}

.item___play-bar {
  color: whitesmoke;
  font-size: 20px;
  background-color: rgba(20, 17, 17, 0.7);
  border: 1px solid black;
  border-radius: 40%;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.item___play-bar:hover {
  color: black;
  background-color: rgba(245, 245, 245, 0.3);
}

.item___info {
  width: 85%;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.item___info * {
  color: whitesmoke;
}

.item___name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item___duration {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item___func {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 30px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item___func___add-to-fav {
  color: rgba(245, 245, 245, 0.3);
  cursor: pointer;
  margin: 5px;
  height: 20px;
}

.item___func___add-to-fav:hover {
  color: black;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item___func___add-to-album {
  color: rgba(245, 245, 245, 0.3);
  cursor: pointer;
  margin: 5px;
  height: 20px;
}

.item___func___add-to-album:hover {
  color: black;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item___func .item___func___inFav {
  color: chartreuse;
  margin: 5px;
  height: 20px;
}

.item___func .item___func___inFav:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item___func___delete {
  color: grey;
  position: relative;
  top: -25px;
}

.item___func___delete:hover {
  color: #a7170d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 900px) {
  .item {
    height: 75px;
    width: auto;
    border: 1px solid black;
    background-color: rgba(20, 17, 17, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    margin-top: 1px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 30px;
  }
  .item:hover {
    background-color: rgba(245, 245, 245, 0.3);
  }
  .item___img {
    height: 50px;
    width: 60px;
    background-color: whitesmoke;
    border: 1px solid black;
    margin-left: 5px;
  }
  .item___img img {
    height: 50px;
    width: 60px;
  }
  .item___play-bar {
    color: whitesmoke;
    font-size: 20px;
    background-color: rgba(20, 17, 17, 0.7);
    border: 1px solid black;
    height: 35px;
    width: 45px;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
  }
  .item___play-bar:hover {
    color: black;
    background-color: rgba(245, 245, 245, 0.3);
  }
  .item___info {
    width: 80%;
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .item___info * {
    color: whitesmoke;
  }
  .item___name {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 18px;
  }
  .item___duration {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .item___func {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 5px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item___func___add-to-fav {
    color: rgba(245, 245, 245, 0.3);
    cursor: pointer;
    margin: 5px;
    height: 30px;
    font-size: 30px;
  }
  .item___func___add-to-fav:hover {
    color: black;
  }
  .item___func___add-to-album {
    color: rgba(245, 245, 245, 0.3);
    cursor: pointer;
    margin: 5px;
    height: 30px;
    font-size: 30px;
  }
  .item___func___add-to-album:hover {
    color: black;
  }
  .item___func .item___func___inFav {
    color: chartreuse;
    margin: 5px;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
  }
  .item___func___delete {
    color: grey;
    position: relative;
    top: -20px;
    height: 15px;
    font-size: 15px;
  }
  .item___func___delete:hover {
    color: #a7170d;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=item.css.map */