.functional-bar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 20%;

    background-color: rgba(20, 17, 17, 0.3);
    border: 1px solid black;
    box-shadow: -27px 39px 24px 50px rgba(34, 60, 80, 0.2);
    height: 100%;
    border-radius: 15px 0 0 15px;
   

    &___container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      
    }

    &___info-block {
        height: 50%;
        width: 100%;
        padding: 10px;
        background-color: rgba(20, 17, 17, 0.7);
        border-radius: 15px 0 0 0;

        & * {
            color: whitesmoke;
        }

        &___link {
            text-decoration: underline;
        }
    }

    &___button {
        margin-top: 15px;
        border-radius: 12px;
        border: 1px solid black;
        color: white;
        min-height: 35px;
        background-color: rgba(20, 17, 17, 0.7);
        text-transform: uppercase;

        &:hover {
            background-color: whitesmoke;
            color: black;
            cursor: pointer;
        }
    }

    &___creator-album-box {
        display: flex;
        width: 850px;
        position: relative;
        align-items: center;
        
        height: 35px;

        & input {
            width: 70%;
            height: 100%;
            margin-top: 15px;
            margin-left: -15px;
            padding: 3px;
            font-size: 16px;
            
        }
        &-button {

            width: 15%;
            height: 100%;
            margin-top: 15px;
            border-radius: 0 15px 15px 0;
            border: none;
            cursor: pointer;
            

            &:hover {
                color: white;
                background-color: rgba(20, 17, 17, 0.7);
            }
        }
    }
}

.functional-bar___container-func {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.albums-container {
    
    height: 70%;
    overflow:auto;
    display: flex;
    flex-direction: column;
    padding: 5px;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        width: 3px;
        background-color: rgba(20, 17, 17, 0.5);
    }
}



