.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  opacity: 0.7;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid black;
}

.navbar___logo-container img {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 100px;
  height: auto;
  cursor: pointer;
}

.navbar___navigation {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar___navigation___nav-container {
  width: 50%;
}

.navbar___navigation___nav-container .modile-nav {
  display: none;
}

.navbar___navigation___nav-container .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar___navigation___nav-container .nav-content li {
  height: 30px;
  width: 130px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin: 5px;
}

.navbar___navigation___nav-container .nav-content li:hover {
  background-color: whitesmoke;
}

.navbar___navigation___nav-container .nav-content li a {
  text-align: center;
  padding: 3px;
  color: whitesmoke;
  height: 100%;
  width: 100%;
}

.navbar___navigation___nav-container .nav-content li a:hover {
  color: black;
}

.navbar___navigation___logout {
  height: 30px;
  width: 130px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.navbar___navigation___logout_nav {
  color: whitesmoke;
}

.navbar___navigation___logout:hover {
  background-color: whitesmoke;
  color: black;
}

.navbar___navigation___logout:hover * {
  color: black;
}

@media (max-width: 1200px) {
  .navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar___navigation {
    width: 70%;
  }
  .navbar___navigation___nav-container {
    width: 50%;
  }
  .navbar___navigation___nav-container a {
    color: whitesmoke;
  }
}

@media (max-width: 900px) {
  .navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar___navigation {
    width: 70%;
  }
  .navbar___navigation___nav-container {
    width: 50%;
  }
  .navbar___navigation___nav-container .nav-content {
    display: none;
  }
  .mobile-func {
    color: whitesmoke;
    margin-left: 15px;
    cursor: pointer;
    font-size: 24px;
  }
}
/*# sourceMappingURL=navbar.css.map */