@import "../../utils.scss";


.albums-block {

    position: relative;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    overflow: auto;
    background: $BackColorForItem;
    display: flex;
    flex-direction: column;

    top: 100%;
    scroll-behavior: smooth;

  
    

    &::-webkit-scrollbar {
        width: 10px;
       
        border-bottom: 1px solid black;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(245, 245, 245, 0.1);
       
        width: 10px;
        border-bottom: 1px solid black;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);
       
    }
    



}

